{% load i18n %}
<!DOCTYPE html>
<html lang="zh-tw">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Django Bug Log</title>
        <meta name="description" content="Django Bug Log">
    </head>
    <body>
        <div class="centered" style="position: relative; top: 100px; text-align: center;">
            <form method="post">
                {% csrf_token %}
                <label for="username">{% trans "Account" %}</label><input name="username" type="text" value="">
                <label for="password">{% trans "Password" %}</label><input name="password" type="password" value="">
                <input type="submit" name="submit" value="{% trans 'Login' %}">
            </form>
            {% if msg %}<p class="warning">{{ msg }}</p>{% endif %}
        </div>
    </body>
</html>